<div class="site-section">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div *ngIf="data.message">
                  <app-message></app-message>
                </div>
              </div>
            </div>
            <div class="col-md-7">
                
              <form action="#" method="post">
                <div class="p-3 p-lg-5 border">
                  <div class="form-group row">
                 <div class="col-md-12">
                      <input type="email" class="form-control" id="c_email" name="c_email" placeholder="Introduce tu email" [(ngModel)]="email">
                    </div>
                  </div>

                  <div class="form-group row">
                    <div class="col-md-12">
                      <input type="password" class="form-control" id="c_password" name="c_password" placeholder="Contraseña" [(ngModel)]="password">
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-lg-12">
                      <input type="submit" class="btn btn-primary btn-lg btn-block" value="Inicia sesion" (click)="login()" [disabled] = "btnDisabled">
                    </div>
                  </div>
                  <p><a href="">Has olvidado la contraseña?</a></p>
                </div>
              </form>
              
            </div>
        </div>
    </div>
</div>