<div *ngIf="data.user">
    <div class="site-section border-bottom" data-aos="fade">
            <div class="container">
              <div class="row justify-content-center mb-5">
                <div class="col-md-7 site-section-heading text-center pt-4">
                  <h2>Mi cuenta</h2>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-lg-3">
        
                  <div class="block-38 text-center">
                    <div class="block-38-img">
                      <div class="block-38-header">
                        <img [src]="this.data.user[0].image" alt="Image placeholder" class="mb-4">
                        <h3 class="block-38-heading h4">{{this.data.user[0].name}}</h3>
                        <p class="block-38-subheading">{{this.data.user[0].email}}</p>
                        <div *ngIf="this.data.user[0].isSeller">
                            <p class="block-38-subheading">Seller</p>
                        </div>
                      </div>
                      <div class="block-38-body">
                        <p>Usuario desde el {{this.data.user[0].creationDate}}</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6 col-lg-9 text-center">
                    <button class="btn btn-outline-primary ml-2" routerLink="/profile/orders">Orders</button>
                    <button class="btn btn-outline-danger ml-2" routerLink="/profile/myproducts">My products</button>
                    <button class="btn btn-outline-warning ml-2" routerLink="/profile/saleproduct">Sale product</button>
                </div>
              </div>
            </div>
          </div>
</div>
